<div class="wrapper">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <h2 class="form-signin-heading">APIQ</h2>
    <%= devise_error_messages! %>

      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: Kms::User.human_attribute_name(:email), required: '' %>

      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: Kms::User.human_attribute_name(:password), required: '' %>
      <%# if @validatable %>
      <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
      <%# end %><!--<br />-->

      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: Kms::User.human_attribute_name(:password_confirmation), required: '' %>

      <%= f.submit t("sign_up"), class: "btn btn-lg btn-primary btn-block" %>
      <br>
      <%= render "devise/shared/links" %>
  <% end %>

</div>
