<div class="wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <h2 class="form-signin-heading">APIQ</h2>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: Kms::User.human_attribute_name(:email), required: '' %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: Kms::User.human_attribute_name(:password), required: '' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> <%= t("remember_me") %>
          </label>
        </div>
      <% end -%>
      <%= f.submit t("login"), class: "btn btn-lg btn-primary btn-block" %>
      <br>
      <%= render "devise/shared/links" %>
    <% end %>
</div>
